.UserBackground
  .UserDetails
    .UserDetails__field
      = form_with model: @user, local: true do |f|
        %section.UserDetails__field--image
          .UserImage 
            - if @user.image?
              = f.label :image, class: 'UserImage__icon' do
                .UserImage__icon{style: "background-image: url(#{@user.image})"}
          
            - else
              = f.label :image, class: 'UserImage__icon' do
                = icon('far', 'smile-wink')
                = f.file_field :image, class: 'Hidden'
          .UserEdit
            = f.label class: 'UserNickname' do
              = f.text_area :nickname

        %section.UserDetails__field--introduction
          = f.text_area :introduce, placeholder: '自己紹介をしてみましょう。', rows: "10"

        = f.submit 'Send', class: 'submit' 

    