- breadcrumb :profile
= render "layouts/breadcrumbs"

.UserBackground
  .UserDetails
    .UserDetails__field
      = form_with model: @user, local: true do |f|
        - if @user.background?
          .UserDetails__field--image{style: "background-image: url(#{@user.background})"}
            .UserImage 
              - if @user.image?
                = f.label :image, class: 'UserImage__icon' do
                  = image_tag @user.image.url, class: "UserImage__icon "
                  = f.file_field :image, class: 'Hidden'

              - else
                = f.label :image, class: 'UserImage__default' do
                  = icon('far', 'smile-wink', class: 'UserImage__default')
                  = f.file_field :image, class: 'Hidden'
              .BackgroundForm
                = f.label :background do
                  = icon('fas', 'camera-retro', class: 'BackgroundForm__icon')
                  = f.file_field :background, class: 'Hidden'
            .UserEdit
              = f.label class: 'UserNickname' do
                = f.text_field :nickname
            
        - else
          .UserDetails__field--image
            .UserImage 
              - if @user.image?
                = f.label :image, class: 'UserImage__icon' do
                  = image_tag @user.image.url, class: "UserImage__icon "
                  = f.file_field :image, class: 'Hidden'

              - else
                = f.label :image, class: 'UserImage__default' do
                  = icon('far', 'smile-wink')
                  = f.file_field :image, class: 'Hidden'
              .BackgroundForm
                = f.label :background do
                  = icon('fas', 'camera-retro', class: 'BackgroundForm__icon')
                  = f.file_field :background, class: 'Hidden'
            .UserEdit
              = f.label class: 'UserNickname' do
                = f.text_field :nickname

        %section.UserDetails__field--introduction
          = f.text_area :introduction, placeholder: '自己紹介をしてみましょう。', class: 'IntroductionForm', rows: "10"
        
        .SubmitArea
          = f.submit '保存', class: 'SubmitArea__btn' 

    