.UserBackground
  .UserDetails
    -if user_signed_in? && current_user.id.to_s == params[:id]
      %ul.UserDetails__nav
        %li.UserDetails__nav--element
          = link_to edit_user_path(current_user), method: :get do
            = icon('fas', 'cog')
            プロフィール
        %li.UserDetails__nav--element
          = link_to edit_user_sending_destination_path(current_user), method: :get do
            = icon('fas', 'cog')
            発送元・お届け先住所
        %li.UserDetails__nav--element
          = link_to new_credit_card_path do
            = icon('fas', 'cog')
            クレジットカード
        %li.UserDetails__nav--element
          = link_to item_list_user_path(current_user), method: :get do
            = icon('fas', 'box-open')
            = @nickname
            さんの出品一覧
          
        %li.UserDetails__nav--element
          = icon('fas', 'star')
          = @nickname
          さんのお気に入り一覧
        

    %main.UserDetails__field
      - if @user.background?
        .UserDetails__field--image{style: "background-image: url(#{@user.background})"}
          .UserImage
            - if @user.image?
              = image_tag @user.image.url, class: "UserImage__icon "
            - else
              = icon('far', 'smile-wink', class: 'UserImage__default')
          .UserEdit
            -if user_signed_in? && current_user.id.to_s == params[:id]
              = link_to edit_user_path(current_user), method: :get do
                = @nickname
            - else 
              = @nickname

      - else
        .UserDetails__field--image
          .UserImage
            - if @user.image?
              = image_tag @user.image.url, class: "UserImage__icon "
            - else
              = icon('far', 'smile-wink', class: 'UserImage__default')

          .UserEdit
            -if user_signed_in? && current_user.id.to_s == params[:id]
              = link_to edit_user_path(current_user), method: :get do
                = @nickname
            - else 
              = @nickname

      %section.UserDetails__field--introduction
        = @user.introduction
  .UserName
    = @nickname 
    さんの出品した商品
  %section.UserItems
    - @items.each do |item|
      %li.UserItems__item
        = link_to item_path(item.id) do
          .UserItems__item--image
            = image_tag item.images.first.image.url
          .UserItems__item--detail
            .DetaiName
              = item.item_name
            .DetailPrice
              %ul
                %li
                  = item.price.to_s(:delimited)
                  円
              %p 
                (税込) 
              
      
      
      
