%header.Header
  -# - breadcrumb :item_show, class: "breadcrumbs"
  -# = render "layouts/breadcrumbs"
  
  .Header__inner
    .Header__inner--main
      %h1.MainIcon
        = link_to root_path do
          = image_tag("logo.png")
      .SearchArea
        %ul.SearchArea__form
          = search_form_for(@q, url: search_items_path, method: :get) do |form|
            = form.search_field :item_name_cont, placeholder: "キーワードから探す", class: "search-input"
            .SearchArea__form--submit
              = form.submit "", class: 'submit' 
          

    .NavLists
      .Category
        %ul
          %li
            = link_to "#", class: "Category__search search__btn" do
              %i.fas.fa-bars.Category__icon
              カテゴリーから探す
            %ul.Category__parent.Category__list
              - @parents.each do |parent|
                %li
                  = link_to category_path(parent), class: "Category__parent--name" do
                    = parent.name
                  %ul.Category__child.Category__list
                    - parent.children.each do |child|
                      %li
                        = link_to category_path(child), class: "Category__child--name" do
                          = child.name
                        %ul.Category__grandchild.Category__list
                          - child.children.each do |grandchild|
                            %li
                              = link_to category_path(grandchild), class: " Category__child--name" do
                                = grandchild.name 
        
      %ul.NavLists__right 
        - if user_signed_in?
          = link_to "マイページ", "/users/#{current_user.id}"
          = link_to 'ログアウト', destroy_user_session_path, method: :delete
          
        - else
          %li.NavLists__right--login.NavLists__right--item
            = link_to "ログイン", new_user_session_path
            %ul
              %li
                = icon('fab', 'facebook-f')
                = link_to 'Facebookでログイン', user_facebook_omniauth_authorize_path, method: :post
              %li
                = icon('fab', 'google')
                = link_to 'Googleでログイン', user_google_oauth2_omniauth_authorize_path, method: :post
          
          %li.NavLists__right--new.NavLists__right--item
            = link_to "新規会員登録", new_user_registration_path
            %ul
              %li.NavLists__right--item
                = icon('fab', 'facebook-f')
                = link_to 'Facebookで登録', user_facebook_omniauth_authorize_path, method: :post
              %li.NavLists__right--item
                = icon('fab', 'google')
                = link_to 'Googleで登録', user_google_oauth2_omniauth_authorize_path, method: :post


    -# .Notifications
    -# - flash.each do |key, value|
    -#   = content_tag(:div, value, class: key)

          


