%header.Header
  .Header__inner
    .Header__inner--main
      %h1.MainIcon
        = link_to root_path do
          = image_tag("logo.png")
      .SearchArea
        %ul.SearchArea__form
          = form_with(url: "#", local: true, method: :get) do |form|
            = form.text_field :keyword, placeholder: "キーワードから探す", class: "search-input"
            .SearchArea__form--submit
              = form.submit "", class: 'submit' 
          
    .NavLists
      .NavLists__left
        カテゴリー
        
      %ul.NavLists__right
        - if user_signed_in?
          = link_to "マイページ", "/users/#{current_user.id}"
          = link_to 'ログアウト', destroy_user_session_path, method: :delete
          
        - else
          %li.NavLists__right--login.NavLists__right--item
            = link_to "ログイン", new_user_session_path
            = link_to 'Facebookでログイン', user_facebook_omniauth_authorize_path, method: :post
            = link_to 'Googleでログイン', user_google_oauth2_omniauth_authorize_path, method: :post
          %li.NavLists__right--new.NavLists__right--item
            = link_to "新規会員登録", new_user_registration_path
          %li.NavLists__right--item
            = link_to 'Facebookで登録', user_facebook_omniauth_authorize_path, method: :post

          %li.NavLists__right--item
            = link_to 'Googleで登録', user_google_oauth2_omniauth_authorize_path, method: :post

          


