%ul.CategoryContainer
  - @items.each do |item|
    - if item.auction_status == "出品中"
      %li.CategoryContainer__items
        = link_to item_path(item.id), data: {"turbolinks" => false} do
          .Image
            = image_tag item.images.first.image.url
          .DetailBox
            .DetailBox__name
              = item.item_name
            .DetailBox__details
              %ul
                %li
                  = item.price.to_s(:delimited)
                  円
              %p 
                (税込)
                = (item.price * 1.1).floor
                円
            .DetailBox__status
              出品中
    - else
      %li.CategoryContainer__items
      
        = link_to item_path(item.id), data: {"turbolinks" => false} do
          .Image
            = image_tag item.images.first.image.url
          .DetailBox
            .DetailBox__name
              = item.item_name
            .DetailBox__details
              %ul
                %li
                  = item.price.to_s(:delimited)
                  円
              %p 
                (税込)
            .DetailBox__status
              売り切れ