.PageHeader
= form_for @item do |f|
  = render 'layouts/error_messages', model: f.object
  .LavelNameField
    .FormLabel
      .LavelName
        出品画像
      .LavelRequired
        必須
  #ImageBox-1{class:"#{@images.last.id}"}
    - @images.each do |img|
      .ItemImage{id:img.id}
        = image_tag(img.image.url,{width:"188",height:"180"})
        .ItemImage__operetion
          .ItemImage__operetion--delete 削除
    %label.img-label{for: "img-file"}
      #ImageBox__container{class:"Item-num-#{@images.length}"}
        #Append-js-edit
          = f.fields_for :images do |image|
            .js-file_group{"data-index" => "#{image.index}"}
              = image.file_field :image, type: 'file', value:"#{image.object.id}",style: "",  id:"img-file", class:'js-file-edit',name: "item[images_attributes][#{@item.images.count}][image]", data:{index:""}
        %i.fas.fa-camera
  .ItemName
    .FormLabel
      .LavelName
        商品名
      .LavelRequired
        必須
    =f.text_field :item_name, class: 'NameField', placeholder: "40字まで"
  .ItemIntroduction
    .FormLabel
      .LavelName
        商品の説明
      .LavelRequired
        必須
    =f.text_field :item_introduction, class: 'ExplanationField', placeholder: '商品の説明（必須 1,000文字以内）'
  .AppendCategory
    .Category
      .FormLabel
        .LavelName
          カテゴリー
        .LavelRequired
          必須
      .AppendCategory__category#category_box
        .pulldown#partent_box
          = f.select :category_id, options_for_select( @category_parent_array.map{|c| [c[:name], c[:id]]}),{include_blank: "選択してください"}, { class: "parent_category_box", id: "parent_category"}

        .pulldown.AppendCategory__category__children#children_box
        .pulldown.AppendCategory__category__grandchildren#grandchildren_box

  .ItemCondition
    .FormLabel
      .LavelName
      商品の状態
    .LavelRequired
      必須
    =f.collection_select(:item_condition_id, ItemCondition.all, :id, :name,{include_blank: "選択してください"}, class: " SerectField")
  .PostagePayer
    .FormLabel
      .LavelName
        配送料の負担
      .LavelRequired
        必須
    =f.collection_select(:postage_payer_id, PostagePayer.all, :id, :name,{include_blank: "選択してください"}, class: " SerectField")
  .ShippingOrigin
    .FormLabel
      .LavelName
        発送元の地域
      .LavelRequired
        必須
    =f.collection_select(:shipping_origin_id, ShippingOrigin.all, :id, :name,{include_blank: "選択してください"}, class: "SerectField")
  .PreparationDay
    .FormLabel
      .LavelName
        発送元までの日数
      .LavelRequired
        必須
    =f.collection_select(:preparation_day_id, PreparationDay.all, :id, :name,{include_blank: "選択してください"}, class: "SerectField")
  .PostageType
    .FormLabel
      .LavelName
        配送方法
      .LavelRequired
        必須
    =f.collection_select(:postage_type_id, PostageType.all, :id, :name,{include_blank: "選択してください"}, class: "SerectField")
  .ExhibitionPrice
    .FormLabel
      .LavelName
        販売価格
      .LavelRequired
        必須
    .Note
      出品価格(300円 〜 9,999,999円)
    =f.number_field :price, min:300,max:999999999,placeholder: "０",class:"PriceField" 
    円
    %br
  .Send
    = f.submit "更新する",class:"Send__sipping_btn"