- if user_signed_in?
  .PageHeader
  = form_for @item do |f|
    = render 'layouts/error_messages', model: f.object
    .ItemField
      .FormLabel
        .LavelName
          出品画像
        .LavelRequired
          必須
    #ImageBox-1
      %label.img-label{for: "img-file"}
        .Item-num-0#ImageBox__container
          = f.fields_for :images do |image|
            #Append-js
              .js-file_group{"data-index" => "#{image.index}"}
                = image.file_field :image, type: 'file', id:"img-file", class:'js-file', data:{index:"0"}
          %i.fas.fa-camera
    .ItemName
      .FormLabel
        .LavelName
          商品名
        .LavelRequired
          必須
      =f.text_field :item_name, class: 'NameField', placeholder: "40字まで"
    .ItemIntroduction
      .FormLabel
        .LavelName 
          商品の説明
        .LavelRequired
          必須
      =f.text_field :item_introduction, class: 'ExplanationField', placeholder: '商品の説明（必須 1,000文字以内）'.html_safe 
    .AppendCategory
      .Category
        .FormLabel
          .LavelName 
            カテゴリー
          .LavelRequired
            必須
        -# =f.collection_select(:category_id, Category.all, :id, :name,{include_blank: "選択してください"}, class: "SerectField")
        .pulldown#partent_box
          = f.select :category_id, options_for_select( @category_parent_array.map{|c| [c[:name], c[:id]]}),{include_blank: "選択してください"}, { class: "parent_category_box", id: "parent_category"}
          = icon('fa', 'chevron-down')

        .pulldown.item_input__body__category__children#children_box
          -#親カテゴリー選択によって子カテゴリー表示
        .pulldown.item_input__body__category__grandchildren#grandchildren_box


    .ItemCondition
      .FormLabel
        .LavelName
          商品の状態
        .LavelRequired
          必須
      =f.collection_select(:item_condition_id, ItemCondition.all, :id, :name,{include_blank: "選択してください"}, class: "SerectField")
    .PostagePayer
      .FormLabel
        .LavelName
          配送料の負担
        .LavelRequired
          必須
      =f.collection_select(:postage_payer_id, PostagePayer.all, :id, :name,{include_blank: "選択してください"}, class: "SerectField")
    .ShippingOrigin
      .FormLabel
        .LavelName
          発送元の地域
        .LavelRequired
          必須
      =f.collection_select(:shipping_origin_id, ShippingOrigin.all, :id, :name,{include_blank: "選択してください"}, class: "SerectField")
    .PreparationDay
      .FormLabel
        .LavelName
          発送元までの日数
        .LavelRequired
          必須
      =f.collection_select(:preparation_day_id, PreparationDay.all, :id, :name,{include_blank: "選択してください"}, class: "SerectField")
    .PostageType
      .FormLabel
        .LavelName
          配送方法
        .LavelRequired
          必須
      =f.collection_select(:postage_type_id, PostageType.all, :id, :name,{include_blank: "選択してください"}, class: "SerectField")
    .ExhibitionPrice
      .FormLabel
        .LavelName
          販売価格
        .LavelRequired
          必須
      .Note
        出品価格(300円 〜 9,999,999円)
      =f.number_field :price, min:300,max:999999999,placeholder: "０",class:"PriceField" 
      円
    .Send
      = f.submit "出品する",class:"Send__sipping_btn"
- else
  .Done#fullsize
    .Done__title
      商品を出品するには新規会員登録またはログインが必要です
    .Done__backlink
      = link_to '新規会員登録', new_user_registration_path, class: 'link'
    .Done__backlink
      = link_to 'ログイン', new_user_session_path, class: 'link'
