= render "modules/header"
.MainShow  
  .MainShow__box
    .MainShow__box__content
      .MainShow__box__content__top
        .ItemBox
          %h2= @item.item_name
          .ItemBox__Images
            %ul.Image__main
              %li.Image__main__list
                = image_tag(@image.image.url, class: "Main__photo")
                .Image__box
                  %ul.Image__sub
                    - @images.each do |img|
                      %li.Image__sub__list
                        = image_tag(img.image.url, class: "sub__photo", size: "75x75")
          .MainShow__box__price
            %span.price
              = @item.price.to_s(:delimited)
              円
            .MainShow__box__price__detail
              %span
                (税込)
              %span
                送料込み 

  = render "modules/footer"
  = render "modules/sell_btn"