.MainShow  
  .MainShow__box
    .MainShow__box__content
      .MainShow__box__content__top
        .ItemBox
          %h2= @item.item_name
          .ItemBox__Images
            %ul.Image__main
              %li.Image__main__list
                = image_tag(@image.image.url, class: "Main__photo")
                .Image__box
                  %ul.Image__sub
                    - @images.each do |img|
                      %li.Image__sub__list
                        = image_tag(img.image.url, class: "sub__photo", size: "75x75")
          .MainShow__box__price
            %span.price
              = @item.price.to_s(:delimited)
              円
            .MainShow__box__price__detail
              %span
                (税込)
              %span
                送料込み 
          .MainShow__box__explanation
            = @item.item_introduction
          .MainShow__box__table
            %table 
              %tr 
                %th 出品者
                %td= link_to @item.user.nickname, "/users/#{@item.user_id}"
              %tr 
                %th カテゴリー
                %td= @item.category.name
              %tr
                %th 商品の状態
                %td= @item.item_condition_id
              %tr
                %th 配送料の負担
                %td= @item.postage_payer.name
              %tr
                %th 発送元の地域
                %td= @item.shipping_origin.name
              %tr
                %th 発送方法
                %td= @item.postage_type.name
              %tr
                %th 発送日の目安
                %td= @item.preparation_day.name
          .MainShow__box__option
            .Like
              = render partial: "favorites/favorite", locals: { item: @item, favorites: @favorites, user_favorite: @user_favorite }
            %ul.Report
              %li.Report__list
                = link_to "#" do
                  = icon('fa', 'flag')
                  不適切な商品の通報
        .MainShow__box__edit
          - if current_user == @user
            = link_to "商品の編集", edit_item_path(@item.id), data: {"turbolinks" => false} , class: "edit"
            = link_to "商品の削除", item_path(@item.id), data: {"turbolinks" => false},  method: :delete, class: "destory"
          - elsif @item.auction_status == "売り切れ"
            %h3 この商品は売り切れです
          - elsif user_signed_in?
            = link_to "購入画面に進む", confirm_items_path(@item)
            -# buy_card_path(@item.id), data: {"turbolinks" => false} , class: "pay"
          - else
            = link_to "購入画面に進む", root_path
        .MainShow__box__comment
          .Title
            コメント一覧
          .MainShow__box__comments#Comments
            - if @comments
              - @comments.each do |comment|
                .MainShow__box__comments__comment
                  .Profile
                    .Profile__right
                      .Image
                        - if @user.image?
                          = image_tag @user.image.url, class: "user-circle"
                        - else
                          = icon('far', 'smile-wink', class: "user-circle" )
                      .Seller_or_buyer
                        = comment.user.nickname
                  .Comment
                    .Comment__text
                      = comment.comment
                    .Comment__bottom
                      .Comment__date
                        = icon('far', 'clock')
                        = comment.created_at.strftime("%Y年%m月%d日 %H時%M分")
                      .Comment__trash
                        = link_to item_comment_path(comment.item.id, comment.id), "item_id": :@item, method: :delete do
                          = icon('fa', 'trash')
          - if user_signed_in?
            = form_with model: [@item, @comment], local: true, class: "New_comment", id: "comment_form"  do |f|
              = f.text_area :comment, required: "required", class: 'Text_area', placeholder: "コメントする"
              %p.note
                相手のことを考え丁寧なコメントを心がけましょう。
                %br 不快な言葉遣いなどは利用制限や退会処分となることがあります。
              .Send
                = f.submit "コメントする", class: "Comment__btn"
          - else 
            %p.note
              商品の購入、コメントの投稿には新規会員登録/ログインが必要です。
